.page-header {
  text-align: center; /* Centers the text horizontally */
  margin: 0 auto; /* Ensures the header itself is centered */
  padding: 20px 0; /* Optional: adds space around the header */
}

.page-header h1 {
  font-size: 2rem; /* Adjust font size as needed */
  color: #333; /* Optional: customize the text color */
}

.current-conditions {
  padding-top: 40px;
  align-items: center;
}

.current {
  padding-top: 15px;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

input[type="text"] {
  width: 200px; /* Adjust the size as needed */
  padding: 4px;
}

.current-icon {
  padding-bottom: 2px;
  position: relative;
  top: -8px;
}

img {
  width: 100%;
}

.forecast {
  border: 1px solid black;
  padding: 30px;
  margin-bottom: 15px;
}

h3 {
  text-align: center;
  padding-right: 190px;
}
